*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.enter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;

}
.sort-nomer-center{
    font-size: 0.8em;
    font-weight: bold;
}
.sort-data{padding-left: 7em;}
.sort-nomer{padding-left: 6em;}
.left1{padding-left: 7em;}

.search{
    display: none;
    /*display: flex;
    flex-direction: row;
    justify-content: flex-start;*/
}
.big-block{
    display: flex;
    flex-direction: row;
}
.container2{

    width:30% ;
}
.delete-item{
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f1f1;
    width: 70%;
    padding: 0.8em;
    text-align: center;
    display: none;}

.delete-item p{margin-bottom: 2em; text-align: center;}

.yes{background: #4ebdcb;
    border-color: #4ebdcb;
    border-style: solid;
    width: 5rem;
    height: 2rem;
    margin-left: 4%;
}
.no{background: #f1f1f1;
    border-color: grey;
    border-style: solid;
    border-width: 0.5px;
    width: 5rem;
    height: 2rem;
}
.edit-text{
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f1f1;
    width: 70%;
    padding: 0.8em;
    text-align: center;
    display: none;
}

.edit-text p{margin-bottom: 0.2em; text-align: center;}
.new-text{
    background-color: rgba(255, 255, 237, 0.84);
    width: 80%;
    height: 6em;
    line-height: 6em;
    padding-left: 0.5em;
    margin: 0.8em;


}

.save{background: #4ebdcb;
    border-color: #4ebdcb;
    border-style: solid;
    width: 5rem;
    height: 2rem;
    margin-left: 4%;
}
.cancel{background: #f1f1f1;
    border-color: grey;
    border-style: solid;
    border-width: 0.5px;
    width: 5rem;
    height: 2rem;
}

.container{
    /*border-style: solid;
    border-color: aquamarine;*/
    width: 70%;
    margin-left: 3%;
}
.none{ display: none;}
.stroka{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-color: brown;
    height: 60px;
}
.data{
    height: 3.5em;
    width: 7em;
    font-size: 0.8em;
}
.number{
    border-style: solid;
    border-color: #a5b3ba;
    background-color: #a5b3ba;
    height: 2.5em;
    width: 2.5em;
    text-align: center;
    line-height: 2.5em;
    font-weight: bold;
}
.strelki{
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.anytask{
    width: 40%;
    height: 3em;
    background-color: #f1f1f1;
}
.edit-elem{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #39963b;
}
.yet-elem{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4ebdcb;
}
.del-elem{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4ebdcb;
}